.drawer-container {
  position: fixed;
  background: black;
  height: 100%;
  max-height: 100vh;
  padding: 100px 0 0 0;
  box-shadow: 1px 0px 18px black;
  z-index: 96;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.expand-drawer-container {
  position: fixed;
  top: calc(100% / 2);
  display: flex;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 90px;
  width: 100px;
  background: rgba(216, 0, 0, 0.5);
  z-index: 93;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.expand-drawer-container:hover {
  transform: translateX(20px);
  background: rgba(216, 0, 0, 1);
}
.expand-drawer-container:hover .expand-drawer {
  fill: white;
}
.expand-drawer {
  margin: auto 0 auto 50px;
  height: 45px;
  fill: black;
  transition: 0.5s ease-in-out;
  z-index: 99;
}
.drawer-menu-item {
  display: flex;
  height: 80px;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.drawer-menu-item:hover {
  background: rgba(216, 0, 0, 0.3);
}
.drawer-menu-item:hover .drawer-menu-icon {
  height: 55px;
}
.drawer-menu-item:hover .drawer-menu-label {
  font-size: 30px;
}
.drawer-menu-icon {
  height: 45px;
  fill: white;
  cursor: pointer;
  transition: 0.5s ease-in-out, height 0.2s ease-in-out, fill 0.2s ease-in-out;
  z-index: 96;
}

.drawer-menu-label {
  position: absolute;
  color: white;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, font-size 0.2s ease-in-out;
  white-space: nowrap;
  z-index: 95;
}
