body {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #151515, #564d4d);
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}
