.movie-grid-container {
  margin: 150px 0 150px 450px;
  transition: 0.5s ease-in-out;
}
.movie-grid-header {
  font-size: 80px;
  text-transform: capitalize;
  font-weight: 400;
  color: white;
  margin-bottom: 60px;
}
.movie-grid-content {
  display: grid;
  grid-template-columns: repeat(4, 333px);
  column-gap: 190px;
  row-gap: 100px;
}
.movie-grid-item-container {
  display: flex;
  flex-direction: column;
}
.movie-grid-item {
  position: relative;
  height: 500px;
  width: 100%;
  box-shadow: 2px 2px 8px black;
  overflow: hidden;
  cursor: pointer;
}
.movie-grid-poster {
  position: absolute;
  object-fit: cover;
  height: 500px;
  width: 333px;
  transition: 0.8s ease-in-out;
}
.movie-grid-overview-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  transform: translateY(100%);
  opacity: 0.3;
  transition: 0.5s ease-in-out;
}
.movie-grid-overview {
  color: white;
  padding: 20px;
  width: 90%;
  font-size: 20px;
  overflow: auto;
}
.movie-grid-item:hover .movie-grid-overview-container {
  transform: translateY(0);
  opacity: 1;
}
.movie-grid-item:hover .movie-grid-poster {
  opacity: 0.4;
}
.movie-grid-title {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.movie-grid-star {
  width: 12px;
}
