.movie-view-container {
  display: flex;
  width: calc(100% - 400px);
  height: 100%;
}
.movie-view-content {
  position: relative;
  left: 400px;
  top: 100px;
  width: 100%;
  height: 100%;
}
.movie-view-main {
  display: flex;
  flex-direction: row;
  padding: 100px;
}
.movie-view-poster-container {
  position: relative;
}
.movie-view-trailer-label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: white;
  opacity: 0;
  transition: 0.5s ease-in-out;
  display: flex;
  place-items: center;
  justify-content: center;
  cursor: pointer;
}
.movie-view-trailer-label:hover {
  background: rgb(0, 0, 0, 0.5);
  opacity: 1;
}
.movie-view-poster {
  object-fit: cover;
  height: 800px;
}
.movie-view-information {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.movie-view-title {
  font-size: 100px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  color: white;
}
.movie-view-info-header {
  font-size: 35px;
  color: rgb(216, 0, 0);
  margin-top: 40px;
}
.movie-view-info-content {
  font-size: 25px;
  font-weight: 200;
  color: white;
}
